/*CSS variables*/
:root {
    --bg-color : black;
    --color : white;
    --color1 : grey;
    --bordercolor : #c1b4b4;
}

html, body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    background-color: var(--bg-color);
    color: var(--color);
}

header {
    padding: 20px;
    border-bottom: 1px solid rgb(87, 87, 92);
}

h1, h2 {
    padding: 0;
}

h1 {
    font-size: 20px;
    padding: 0;
    margin: 10px 0;
}

h2 {
    font-size: 18px;
}

h1, h2, p, footer {
    padding: 0 20px;
}

nav a {
    margin: 0 20px;
    color: var(--color);
}

.nav, .main, #footer-p {
    max-width: 1250px;
    margin: 0 auto;
}

.main, .footer {
    padding: 0 20px;
    max-width: 1200px;
}

/*CSS GRID*/
.grid-container {
    color: var(--bg-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    /* grid-auto-rows: 200px; */
    /* justify-items: center;
    align-items: center; */
}

.gridcell {
    height: 100px;
    border-radius: 10px;
    color: var(--color);
    background-color: var(--color1);
    border: 2px solid var(--bordercolor);
}

/*CSS Flexbox*/
.container {
    display: flex;
    gap: 10px;
  }

  .box {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
  }

  .a {
    background: crimson;
    order: 1;
  }

  .b {
    background: steelblue;
    order: 0;
  }

  .c {
    background: seagreen;
    order: 2;
  }